@{
    ViewData["Title"] = "Home Page";
}

<div style="max-width: 800px; margin: 0 auto; padding: 20px; text-align: center;">
    <h1 style="font-size: 32px; font-weight: bold; color: #333;">Bienvenido a Cines Lux</h1>
    <p style="font-size: 18px; color: #666; margin-bottom: 20px;">CineLux es una destacada cadena de cines que ofrece una experiencia cinematográfica única y de alta calidad. Con una amplia selección de películas de diferentes géneros y formatos, CineLux se esfuerza por brindar entretenimiento para todo tipo de audiencias.</p>
    <a asp-controller="Entrada" style="text-decoration: none; background-color: #333; color: #fff; padding: 10px 20px; border-radius: 4px; transition: background-color 0.3s ease;">Ver películas en cartelera</a>
</div>