@model MVC_basico.Models.Entrada

@{
    ViewData["Title"] = "Create";
}

<h1>Reservas</h1>

<h4>Formulario de Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="usuario" class="control-label"></label>
                <input asp-for="usuario" class="form-control" />
                <span asp-validation-for="usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pelicula" class="control-label"></label>
                <select asp-for="pelicula" class="form-control" asp-items="ViewBag.Peliculas"></select>
            </div>
            <div class="form-group">
                <label asp-for="sala" class="control-label"></label>
                <select asp-for="sala" class="form-control">
                    <option disabled selected>Seleccione un valor</option>
                    @foreach (var value in Enum.GetValues(typeof(enumSala)))
                    {
                        <option value="@value">@value</option>
                    }
                </select>
                <span asp-validation-for="sala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fila" class="control-label"></label>
                <input asp-for="fila" class="form-control" />
                <span asp-validation-for="fila" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="butaca" class="control-label"></label>
                <input asp-for="butaca" class="form-control" />
                <span asp-validation-for="butaca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reservar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Ir a Reservas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
