@model MVC_basico.Models.Pelicula

@{
    ViewData["Title"] = "Create";
}

<h1>Cartelera</h1>

<h4>Agregar a Cartelera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genero" class="control-label"></label>
                <select asp-for="genero" class="form-control">
                    <option disabled selected>Seleccione un valor</option>
                    @foreach (var value in Enum.GetValues(typeof(enumGenero)))
                    {
                        <option value="@value">@value</option>
                    }
                </select>
                <span asp-validation-for="genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Ir a Cartelera</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
